<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="">
</head>
<body>
    <!-- <h4>1</h4>
    <h4>a18tn000さんがocu-networkに接続しました</h4>
    <h4>日時:2022年1月1日午前10時44分45秒</h4>
    <h4>割り当てられたipアドレス:10.35.135.1</h4>
    <h4>2</h4>
    <h4>a18tn000さんがocu-webclassにログインしました</h4>
    <h4>日時:2022年1月1日午前10時44分45秒</h4>
    <h4>3</h4>
    <h4>a18tn000さんがocu-webclassからログアウトしました</h4>
    <h4>日時:2022年1月1日午前10時55分45秒</h4> -->
    <h2><%= message %></h2>
</body>
</html>